<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Pet Store">
    <listeners>
        <listener class-name="com.testing.apiTesting.listeners.CustomListeners"/>
    </listeners>
    <test name="Pets">
        <classes>
            <class name="com.testing.apiTesting.petStoreApi.pets.AddPetTestCase"/>
            <class name="com.testing.apiTesting.petStoreApi.pets.GetPetTestCase"/>
            <class name="com.testing.apiTesting.petStoreApi.pets.UpdatePetTestCase"/>
        </classes>
    </test>
</suite>